body{
    background-color: black;
}

#title{
    text-align: center;
    color: white;
    font-size: 48px;
}

p{
    color: white;
    font-size: 24px;
}

#output1{
    color: white;
}

label{
    color: white;
}

#output2{
    color: white;
}

#output3{
    color:white;
    justify-content: center;
    position: relative;
}

.cgpa {
    display: flex;
    justify-content: right;
    gap: 8px;
    position: relative;
    bottom: 300px;
    font-size: 30px;
}

.high_school_credits {
    display: flex;
    justify-content: right;
    gap: 16px;
    position: relative;
    bottom: 220px;
    font-size: 30px;
}

.semester_credits {
    display: flex;          /* It makes it easier to build spaces between two different things and align them side-by-side. */
    justify-content: right;      /* It aligns the text to the left side. */
    gap: 16px;               /* It leaves a horizontal gap by 16px. */
    position: relative;
    bottom: 130px;
    font-size: 30px;
}

#btn1{
    display: block;
    margin: 0 auto;
    right: 62px;
    top: 650px;
    cursor: pointer;
    background-color: blue;
    color: white;
    width: 275px;
    height: 50px;
    justify-content: center;
    text-align: center;
    font-size: 22px;
}

.first_period_grades {
    display: flex;      /*It makes the computer show that it has followed the laws.*/
    font-size: 24px;
    gap: 20px;
    justify-content: left;
    margin-bottom: 20px;
}

.second_period_grades {
    display: flex;      /*It makes the computer show that it has followed the laws.*/
    font-size: 24px;
    gap: 20px;
    justify-content: left;
    margin-bottom: 20px;
}

.third_period_grades {
    display: flex;      /*It makes the computer show that it has followed the laws.*/
    font-size: 24px;
    gap: 20px;
    justify-content: left;
    margin-bottom: 20px;
}

.fourth_period_grades {
    display: flex;      /*It makes the computer show that it has followed the laws.*/
    font-size: 24px;
    gap: 20px;
    justify-content: left;
    margin-bottom: 20px;
}

.fifth_period_grades {
    display: flex;      /*It makes the computer show that it has followed the laws.*/
    font-size: 24px;
    gap: 20px;
    justify-content: left;
    margin-bottom: 20px;
}

.sixth_period_grades {
    display: flex;      /*It makes the computer show that it has followed the laws.*/
    font-size: 24px;
    gap: 20px;
    justify-content: left;
    margin-bottom: 20px;
}

.seventh_period_grades {
    display: flex;      /*It makes the computer show that it has followed the laws.*/
    font-size: 24px;
    gap: 20px;
    justify-content: left;
    margin-bottom: 20px;
}

#output2 {
    color: white;
    display: flex;
    font-size: 44px;
    text-align: right;
    justify-content: right;
    margin-top: -40px;
}

#output3 {
    color:white;
    display: flex;
    font-size: 44px;
    justify-content: flex-start;
    margin-top: -40px;
}
