body{
    background-color: black;
}

#title{
    text-align: center;
    color: white;
    font-size: 48px;
}

p{
    color: white;
    font-size: 24px;
}

#output1{
    color: white;
}

label{
    color: white;
}

#output2{
    color: white;
}

.cgpa {
    display: flex;
    justify-content: left;
    gap: 8px;
    margin-top: 100px;
    margin-bottom: -35px;
    font-size: 30px;
}

.high_school_credits {
    display: flex;
    justify-content: right;
    gap: 8px;
    font-size: 30px;
}

.sgpa {
    display: flex;
    justify-content: left;
    gap: 8px;
    margin-top: 100px;
    margin-bottom: -32px;
    font-size: 30px;
}

.semester_credits {
    display: flex;          /* It makes it easier to build spaces between two different things and align them side-by-side. */
    justify-content: right;      /* It aligns the text to the left side. */
    gap: 8px;               /* It leaves a horizontal gap by 8px. */
    font-size: 30px;
}

#btn1{
    display: block;
    cursor: pointer;
    background-color: blue;
    color: white;
    width: 275px;
    height: 50px;
    margin-top: 1000px;
    top: 100px;
    position: relative;
    font-size: 22px;
    margin: 0 auto;
}

#output2 {
    display: flex;
    text-align: center;
    font-size: 24px;
    top: 150px;
    justify-content: center;;
    position: relative;
}